<div class="page homepage" id="homepage">
    <div class="container page__container">
      <div class="row left-content">
        <div class="col-xs-12 col-md-6 left-content__text">
          <div class="homepage__title">Ателье одинаковой одежды для мам и дочек</div>
          <div class="homepage__subtitle">Индивидуальный пошив</div>
          <div class="homepage__description">Оставьте свой номер телефона или ссылку на VK страницу и мы с вами свяжемся.</div>
          <a href="#" class="button homepage__button">Оставить контакты</a>
        </div>
      </div>
    </div>
</div>
