<div class="section page homepage" id="homepage">
    <div class="container page__container">
      <div class="row content">
        <div class="col-xs-12 col-md-6 content__text">
          <h1 class="content__title homepage__title">Ателье<br>одинаковой одежды<br>для мам и дочек</h1>
          <div class="content__subtitle homepage__subtitle">Индивидуальный пошив</div>
          <div class="content__description homepage__description">Оставьте свой номер телефона или ссылку на VK страницу и мы с вами свяжемся.</div>
          <a href="#contacts-page" data-id="contacts" data-menuanchor="contacts-page" class="button content__button">Оставить контакты</a>
        </div>
      </div>
    </div>
</div>
