.homepage {
  min-height: 100vh;
  display: flex;

  &:after {
    background-image: url(homepage_bg.jpg);

    @media(max-width: 992px) {
      background-image: linear-gradient(to top, rgba(#fff, 0.7), rgba(#fff, 0.7)),
      url(homepage_bg.jpg);
    }
  }

  &__title {
    font-size: 45px;
  }

  &__opacity {
    display: flex;

    @media(max-width: 992px) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(#fff, 0.7);
      z-index: 2;
    }
  }
}
