.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row-no-gutters [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

@font-face {
  font-family: 'Corinthia';
  src: url(fonts/corinthia.0cd1f345a6421671f4394df587607831.eot);
  src: local("Corinthia"), local("corinthia"), url(fonts/corinthia.0cd1f345a6421671f4394df587607831.eot) format("embedded-opentype"), url(fonts/corinthia.952e5bf8db140d07d6cd3d3d8c304706.woff) format("woff"), url(fonts/corinthia.e2ab4223480382cbef2650faae40de40.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url(fonts/proximanova-regular.1250c31d7f07c6582359a6072532008a.eot);
  src: local("ProximaNova"), local("proximanova"), url(fonts/proximanova-regular.1250c31d7f07c6582359a6072532008a.eot) format("embedded-opentype"), url(fonts/proximanova-regular.c1e262d7e6ca997050b3b0a68c4cd480.woff) format("woff"), url(fonts/proximanova-regular.f7a28269a35307c0687c35e65c0a4620.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url(fonts/proximanova-semibold.9a20aa41906baa809a6c0ad95a736d8c.eot);
  src: local("ProximaNova"), local("proximanova"), url(fonts/proximanova-semibold.9a20aa41906baa809a6c0ad95a736d8c.eot) format("embedded-opentype"), url(fonts/proximanova-semibold.0667161982670e62fb591830e027faba.woff) format("woff"), url(fonts/proximanova-semibold.6db2ccf294b8da4b5d6bf819ca1adaee.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url(fonts/proximanova-bold.ecd4ce0aefe6b7ba8c91194ee8fd69d5.eot);
  src: local("ProximaNova"), local("proximanova"), url(fonts/proximanova-bold.ecd4ce0aefe6b7ba8c91194ee8fd69d5.eot) format("embedded-opentype"), url(fonts/proximanova-bold.db886947221424600f4731d2689e85b0.woff) format("woff"), url(fonts/proximanova-bold.aaeb888d8daf13fb3de07ff8a0753e69.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url(fonts/proximanova-light.de7a2bf4b57cd8c2dad69830875f06b6.eot);
  src: local("ProximaNova"), local("proximanova"), url(fonts/proximanova-light.de7a2bf4b57cd8c2dad69830875f06b6.eot) format("embedded-opentype"), url(fonts/proximanova-light.6cf86d98eaf795749bce7f20c83d20ce.woff) format("woff"), url(fonts/proximanova-light.da00c894447d5618290823bd3bf11ca7.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: none; }

::placeholder {
  color: #868686;
  font-family: "ProximaNova", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: 0.12px; }

li {
  list-style: none; }

input {
  border: 0;
  outline: 0; }

html,
body {
  min-height: 100%; }

html {
  font: 300 16px "ProximaNova", sans-serif;
  color: #333333; }

body {
  margin: 0;
  padding: 0;
  color: #222222; }

img {
  max-width: 100%;
  vertical-align: bottom; }

hr {
  border-top: 0;
  border-color: #8c8c8c; }

a {
  color: #00a2ff;
  cursor: default;
  text-decoration: none; }
  a:hover {
    opacity: 0.7; }

a[href] {
  cursor: pointer; }

p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

textarea {
  resize: none; }

address {
  font-style: normal; }

button {
  outline: none;
  border: 0;
  cursor: pointer;
  transition: 0.3s; }

.blue {
  color: #2c85b8; }

.pink {
  color: #f32e3c; }

.bold {
  font-weight: 700; }

@media (min-width: 1200px) {
  .container {
    width: 1200px; } }

.container:before, .container:after {
  display: none; }

@keyframes vex-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes vex-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes vex-rotation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.vex, .vex *, .vex *:before, .vex *:after {
  box-sizing: border-box; }

.vex {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1111;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.vex-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

.vex-overlay {
  animation: vex-fadein .5s;
  position: fixed;
  z-index: 1111;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.vex-overlay.vex-closing {
  animation: vex-fadeout .5s forwards; }

.vex-content {
  animation: vex-fadein .5s;
  background: #fff; }

.vex.vex-closing .vex-content {
  animation: vex-fadeout .5s forwards; }

.vex-close:before {
  font-family: Arial, sans-serif;
  content: "\00D7"; }

.vex-dialog-form {
  margin: 0; }

.vex-dialog-button {
  text-rendering: optimizeLegibility;
  appearance: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; }

.vex-loading-spinner {
  animation: vex-rotation .7s linear infinite;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1112;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2em;
  width: 2em;
  background: #fff; }

body.vex-open {
  overflow: hidden; }

.vex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 20px; }
  .vex-content {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    background: none; }
  .vex-overlay {
    background: rgba(0, 0, 0, 0.8); }

/*!
 * fullPage 3.0.7
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
.fp-enabled body, html.fp-enabled {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.fp-right {
  right: 17px; }

#fp-nav.fp-left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }

.fp-slidesNav.fp-bottom {
  bottom: 17px; }

.fp-slidesNav.fp-top {
  top: 17px; }

#fp-nav ul, .fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a, .fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out; }

#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial,helvetica,sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity .2s ease-in;
  transition: opacity .2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px; }

.fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell, .fp-auto-height.fp-section {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell, .fp-responsive .fp-auto-height-responsive.fp-section {
  height: auto !important; }

.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }
body.fp-viewing-home-page a:nth-child(1),
body.fp-viewing-exlusive-page a:nth-child(2),
body.fp-viewing-uniqueness-page a:nth-child(3),
body.fp-viewing-responsiveness-page a:nth-child(4),
body.fp-viewing-packaging-page a:nth-child(5),
body.fp-viewing-delivery-page a:nth-child(6),
body.fp-viewing-contacts-page a:nth-child(7) {
  color: #f32e3c; }

#fp-nav ul li a span {
  background: #f32e3c; }

.icon {
  display: inline-block;
  flex-shrink: 0;
  color: inherit; }
  .icon svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
    font-size: 1.5rem; }

.button {
  line-height: 24px;
  text-transform: uppercase;
  display: inline-flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  padding: 17px 36px;
  transition: 0.3s;
  color: #333;
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #000; }
  .button:hover {
    background-color: #f32e3c;
    border-color: #f32e3c;
    color: #fff; }
  .button__icon {
    margin-right: 13px; }

.social-media {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase; }
  .social-media__item {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 11px; }

.menu-toggle {
  position: relative;
  height: 28px;
  width: 34px;
  cursor: pointer;
  z-index: 30;
  transition: 0.6s; }
  @media (max-width: 1200px) {
    .menu-toggle {
      display: flex;
      align-self: center; } }
  .menu-toggle span {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 6px;
    margin: auto;
    background: #333; }
  .menu-toggle:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 6px;
    background: #333;
    transition: .4s; }
  .menu-toggle:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    background: #333;
    transition: .4s; }
  .menu-toggle_active {
    right: 0; }
    .menu-toggle_active span {
      opacity: 0; }
    .menu-toggle_active:before {
      left: 5px;
      transform-origin: top left;
      transform: rotate(45deg);
      width: 34px; }
    .menu-toggle_active:after {
      left: 5px;
      transform: rotate(-45deg);
      transform-origin: bottom left;
      width: 34px; }

.scrollup {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 50;
  width: 80px;
  height: 80px;
  border: 3px solid #8ea4a6;
  text-align: center;
  background: #fff;
  opacity: 0.8; }
  @media (max-width: 768px) {
    .scrollup {
      height: 60px;
      width: 60px; }
      .scrollup .scrollup__text {
        color: transparent; }
      .scrollup .scrollup__text:before {
        margin: 40% auto 0;
        display: block;
        content: '';
        height: 20px;
        width: 20px; } }
  @media (max-width: 574px) {
    .scrollup {
      left: 10px;
      bottom: 10px; } }
  .scrollup__text {
    color: #8ea4a6;
    font-size: 14px;
    text-transform: uppercase;
    display: block; }
    .scrollup__text:before {
      margin: 20% auto 0;
      display: block;
      content: '';
      height: 25px;
      width: 25px;
      border: 2px solid #8ea4a6;
      border-left-color: transparent;
      border-bottom-color: transparent;
      transition: .4s;
      transform: rotate(-45deg); }
  .scrollup:hover {
    background: #fff;
    opacity: 1; }

.page {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 1640px; }
  @media (max-width: 992px) {
    .page {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid lightpink; } }
  .page_left:after {
    left: -15px !important;
    right: calc(50% - 15px) !important;
    background-position: center; }
    @media (max-width: 992px) {
      .page_left:after {
        left: 0 !important;
        right: 0 !important; } }
  .page:after {
    display: block;
    content: '';
    position: absolute;
    left: calc(50% + 15px);
    top: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    @media (max-width: 992px) {
      .page:after {
        left: 0; } }
  .page__container {
    position: relative;
    z-index: 1;
    display: flex; }
    @media (max-width: 992px) {
      .page__container {
        justify-content: center; } }

.content {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 15px;
  width: 100%; }
  @media (max-width: 992px) {
    .content {
      justify-content: center; } }
  .content__text {
    display: flex;
    align-items: stretch;
    flex-direction: column; }
    .content__text_center {
      align-items: center;
      text-align: center; }
    .content__text_right {
      text-align: right;
      margin-right: -30px; }
      @media (max-width: 992px) {
        .content__text_right {
          align-items: center;
          text-align: center;
          margin-right: 0;
          margin-left: 0; } }
    @media (max-width: 1366px) {
      .content__text {
        padding-top: 50px; } }
    @media (max-width: 992px) {
      .content__text {
        align-items: center;
        text-align: center; } }
  .content__title {
    color: #333333;
    font-family: "ProximaNova", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px; }
    @media (max-width: 992px) {
      .content__title {
        font-size: 36px; } }
  .content__subtitle {
    color: #ff5b97;
    font-family: "Corinthia", sans-serif;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 30px; }
    @media (max-width: 992px) {
      .content__subtitle {
        text-shadow: #000 1px 1px 1px; } }
  .content__description {
    color: #333333;
    font-family: "ProximaNova", sans-serif;
    font-size: 16px;
    font-weight: 300;
    max-width: 320px;
    width: 100%;
    margin-bottom: 30px; }
    @media (max-width: 992px) {
      .content__description {
        font-weight: 500; } }
    .content__description_right {
      align-self: flex-end; }
      @media (max-width: 992px) {
        .content__description_right {
          align-self: center; } }
  .content__button {
    text-decoration: none;
    margin-bottom: 30px; }
    @media (max-width: 992px) {
      .content__button {
        align-self: center;
        font-weight: 500;
        border-width: 2px; } }
    .content__button_right {
      align-self: flex-end; }
      @media (max-width: 992px) {
        .content__button_right {
          align-self: center; } }

.main-header {
  padding-top: 36px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5; }
  @media (max-width: 1366px) {
    .main-header {
      padding-top: 10px;
      padding-bottom: 5px; } }
  @media (max-width: 992px) {
    .main-header {
      background-color: #fff; } }
  .main-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .main-header__logo {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    text-decoration: none;
    color: #333; }
    .main-header__logo:hover {
      opacity: 1; }
    .main-header__logo-icon {
      padding-right: 15px; }
    .main-header__logo-description {
      font-weight: 700;
      font-size: 24px;
      padding-top: 1px; }
  .main-header__nav {
    display: flex;
    align-items: center;
    margin-top: -3px;
    padding-right: 55px; }
    @media (max-width: 992px) {
      .main-header__nav {
        transform: translateX(1000px);
        padding-right: 0;
        flex-direction: column;
        position: fixed;
        right: 5%;
        left: 5%;
        top: 10%;
        bottom: 10%;
        background-color: pink;
        opacity: 0.9;
        transition: 0.3s;
        z-index: 4;
        justify-content: center;
        align-items: center; } }
    .main-header__nav-link {
      padding: 5px 10px;
      font-family: "ProximaNova", sans-serif;
      text-transform: uppercase;
      color: #333;
      font-size: 11px;
      font-weight: 700; }
      @media (max-width: 992px) {
        .main-header__nav-link {
          font-size: 16px;
          padding: 20px; } }
      .main-header__nav-link:hover, .main-header__nav-link:active {
        color: #ff0a6a; }
    .main-header__nav.is-open {
      transform: translateX(0); }
  .main-header__menu-toggle {
    display: none; }
    @media (max-width: 992px) {
      .main-header__menu-toggle {
        display: block; } }

.homepage {
  min-height: 100vh;
  display: flex; }
  .homepage:after {
    background-image: url(images/homepage_bg.d61f45c1c62a604f5b1041572e656916.jpg); }
    @media (max-width: 992px) {
      .homepage:after {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(images/homepage_bg.d61f45c1c62a604f5b1041572e656916.jpg); } }
  .homepage__title {
    font-size: 45px; }
  .homepage__opacity {
    display: flex; }
    @media (max-width: 992px) {
      .homepage__opacity {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 2; } }

.exclusive {
  min-height: 100vh;
  display: flex; }
  .exclusive:after {
    background-image: url(images/exclusive_bg.d8dbdb0e281035a4cab90cc6f740b986.jpg); }
    @media (max-width: 992px) {
      .exclusive:after {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(images/exclusive_bg.d8dbdb0e281035a4cab90cc6f740b986.jpg); } }
  .exclusive__opacity {
    display: flex; }
    @media (max-width: 992px) {
      .exclusive__opacity {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 2; } }

.uniqueness {
  min-height: 100vh;
  display: flex; }
  .uniqueness:after {
    background-image: url(images/uniqueness_bg.28602c09594b3a7a5d953c5b18a372ef.jpg); }
    @media (max-width: 992px) {
      .uniqueness:after {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(images/uniqueness_bg.28602c09594b3a7a5d953c5b18a372ef.jpg); } }
  .uniqueness__opacity {
    display: flex; }
    @media (max-width: 992px) {
      .uniqueness__opacity {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 2; } }

.responsiveness__headline {
  margin-bottom: 50px; }

.responsiveness__items {
  display: flex;
  flex-wrap: wrap; }

.responsiveness__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 50px;
  font-size: 15px; }
  @media (max-width: 768px) {
    .responsiveness__item {
      font-size: 16px; } }
  .responsiveness__item-icon {
    margin-bottom: 24px; }
  .responsiveness__item-title {
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center; }
  .responsiveness__item-description {
    max-width: 200px;
    text-align: center;
    padding: 0 15px; }
    @media (max-width: 768px) {
      .responsiveness__item-description {
        max-width: 100%; } }

.packaging__headline {
  margin-bottom: 27px; }

.packaging__subtitle {
  color: #333333;
  font-family: "ProximaNova", sans-serif;
  font-size: 14px;
  font-weight: 300;
  max-width: 180px;
  text-align: center;
  margin: 0 auto 50px; }

.packaging__items {
  display: flex;
  flex-wrap: wrap; }

.packaging__pack {
  margin-bottom: 50px; }
  @media (max-width: 480px) {
    .packaging__pack {
      display: none; } }

.packaging__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  font-size: 15px; }
  @media (max-width: 768px) {
    .packaging__item {
      font-size: 16px; } }
  .packaging__item_left {
    align-items: flex-end; }
    .packaging__item_left .packaging__item-icon {
      align-self: flex-end; }
    .packaging__item_left .packaging__item-description {
      text-align: right; }
    @media (max-width: 768px) {
      .packaging__item_left {
        align-items: center; }
        .packaging__item_left .packaging__item-icon {
          align-self: center; }
        .packaging__item_left .packaging__item-description {
          text-align: center; } }
  .packaging__item_right {
    align-items: flex-start; }
    .packaging__item_right .packaging__item-icon {
      align-self: flex-start; }
    .packaging__item_right .packaging__item-description {
      text-align: left; }
    @media (max-width: 768px) {
      .packaging__item_right {
        align-items: center; }
        .packaging__item_right .packaging__item-icon {
          align-self: center; }
        .packaging__item_right .packaging__item-description {
          text-align: center; } }
  .packaging__item-icon {
    margin-bottom: 24px; }
  .packaging__item-title {
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center; }
  .packaging__item-description {
    min-height: 50px; }
    @media (max-width: 768px) {
      .packaging__item-description {
        max-width: 100%; } }

.delivery {
  min-height: 100vh;
  display: flex; }
  .delivery__container {
    display: flex;
    justify-content: center; }
    @media (max-width: 1160px) {
      .delivery__container {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%; } }
  .delivery__map {
    background-image: url(images/delivery_map.e0e448308075b56feef1ff11d5984a28.png);
    background-repeat: no-repeat;
    background-position: center;
    width: inherit;
    min-height: 465px;
    height: 100%;
    background-size: auto; }
    @media (max-width: 992px) {
      .delivery__map {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(images/delivery_map.e0e448308075b56feef1ff11d5984a28.png); } }

.thanks {
  position: relative;
  display: flex;
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  border: 3px solid #f32e3c;
  color: f32e3c;
  font-size: 18px;
  font-weight: 500;
  padding: 50px; }
  @media (max-width: 640px) {
    .thanks {
      padding: 25px;
      max-width: 500px; } }
  @media (max-width: 480px) {
    .thanks {
      max-width: 280px; } }
  .thanks__content {
    max-width: 401px;
    align-self: center; }
    @media (max-width: 768px) {
      .thanks__content {
        max-width: 350px; } }
    @media (max-width: 430px) {
      .thanks__content {
        max-width: 170px; } }
  .thanks__title {
    color: f32e3c;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 24px; }
    @media (max-width: 940px) {
      .thanks__title {
        font-size: 24px; } }
    @media (max-width: 768px) {
      .thanks__title {
        margin-bottom: 14px;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px; } }
    @media (max-width: 480px) {
      .thanks__title {
        margin-bottom: 14px; } }
    @media (max-width: 430px) {
      .thanks__title {
        color: black;
        font-weight: 400;
        padding-left: 0;
        padding-right: 0; } }
  .thanks__description {
    color: f32e3c;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center; }
  .thanks__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 40px; }

.contacts {
  min-height: 100vh;
  display: flex; }
  .contacts:after {
    background-image: url(images/contacts_bg.0319c256bcb9e2f4dbf3628419d5b23a.jpg); }
    @media (max-width: 992px) {
      .contacts:after {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(images/contacts_bg.0319c256bcb9e2f4dbf3628419d5b23a.jpg); } }
  .contacts__opacity {
    display: flex; }
    @media (max-width: 992px) {
      .contacts__opacity {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 2; } }
  .contacts-form {
    display: flex;
    flex-direction: column;
    max-width: 185px; }
    .contacts-form__field {
      width: 100%;
      height: 50px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 15px;
      padding: 10px 5px;
      font-size: 16px; }
      .contacts-form__field-error {
        color: #f32e3c;
        margin-top: -10px;
        margin-bottom: 15px;
        text-align: left;
        font-size: 14px; }
      .contacts-form__field_active {
        border: 1px solid #f32e3c; }
    .contacts-form__button {
      margin-top: 20px;
      white-space: nowrap; }

