<div class="section page uniqueness" id="uniqueness">
  <div class="container page__container">
    <div class="row content">
      <div class="col-xs-12 col-md-6 content__text">
        <div class="content__subtitle uniqueness__subtitle">Уникально для Вас!</div>
        <h2 class="content__title uniqueness__title">Пошив с учетом особенностей<br>вашей фигуры!</h2>
        <div class="content__description uniqueness__description">
          <p>Вы знаете, чего хотите?</p>
          <p>Оставьте заявку с фотографией и мы вышлем вам
          примерную смету через 15&nbsp;минут!</p>
        </div>
        <a href="#contacts-page" data-id="contacts" data-menuanchor="contacts-page" class="button content__button">Оставить контакты</a>
      </div>
    </div>
  </div>
</div>
