.button {
  line-height: 24px;
  text-transform: uppercase;
  display: inline-flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  padding: 17px 36px;
  transition: 0.3s;
  color: #333;
  font-family: "ProximaNova", sans-serif;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #000;

  &:hover {
    background-color: #ff5b97;
    border-color: #ff5b97;
    color: #fff;
  }

  &__icon{
    margin-right: 13px;
  }
}
