@font-face {
  font-family: 'Corinthia';
  src: url('./corinthia/corinthia.eot');
  src: local('Corinthia'), local('corinthia'),
  url('./corinthia/corinthia.eot?#iefix') format('embedded-opentype'),
  url('./corinthia/corinthia.woff') format('woff'),
  url('./corinthia/corinthia.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
