<div class="section delivery page" id="delivery">
  <div class="container delivery__container">
    <div class="row content">
      <div class="col-xs-12 content__text content__text_center">
        <h2 class="content__title">Осуществляем доставку по всему миру!</h2>
        <div class="delivery__map"></div>
      </div>
    </div>
  </div>
</div>
