<div class="section page packaging" id="packaging">
  <div class="container page__container">
    <div class="row content content__text">
      <div class="col-xs-12">
        <div class="content__title content__text_center packaging__title">Что в коробке?</div>
        <div class="content__subtitle content__text_center packaging__subtitle">Коробка разлагается
          через 3&#8211;4 года в <acronym title="окружающая среда">ЭКО среде</acronym>.</div>
      </div>
      <div class="packaging__items">
        <div class="col-xs-12 col-sm-4">
          <div class="packaging__item packaging__item_left">
            <img src="pack1.png" alt="" class="packaging__item-icon">
            <div class="packaging__item-title">Вешалка</div>
            <div class="packaging__item-description">Удобная вешалка в <acronym title="Эко дизайн – интерьер, который оптимально гармонирует с окружающей средой">ЭКО-дизайне</acronym>.</div>
          </div>
          <div class="packaging__item packaging__item_left">
            <img src="pack2.png" alt="" class="packaging__item-icon">
            <div class="packaging__item-title">Инструкция по уходу</div>
            <div class="packaging__item-description">Как стирать, гладить одежду из ткани изделия.</div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <img src="packaging.png" alt="" class="packaging__pack">
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="packaging__item packaging__item_right">
            <img src="pack3.png" alt="" class="packaging__item-icon">
            <div class="packaging__item-title">Изделие в биобумаге</div>
            <div class="packaging__item-description">Ваше изделие в экологичной разлагающейся бумаге.</div>
          </div>
          <div class="packaging__item packaging__item_right">
            <img src="pack4.png" alt="" class="packaging__item-icon">
            <div class="packaging__item-title">Подарок</div>
            <div class="packaging__item-description">На выбор &#8212; <span class="bold">фотосессия</span> или <span
              class="bold">кулон</span>!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

