<div class="section page responsiveness" id="responsiveness">
  <div class="container page__container">
    <div class="row content content__text">
      <div class="col-xs-12">
        <h2 class="content__title content__text_center responsiveness__headline">Схема работы</h2>
      </div>
      <div class="responsiveness__items">
        <div class="col-xs-12 col-sm-4 responsiveness__item">
          <img src="respons1.png" alt="" class="responsiveness__item-icon">
          <div class="responsiveness__item-title">Вы оставляете заявку</div>
          <div class="responsiveness__item-description">Мы связываемся с вами
            и уточняем детали.</div>
        </div>
        <div class="col-xs-12 col-sm-4 responsiveness__item">
          <img src="respons2.png" alt="" class="responsiveness__item-icon">
          <div class="responsiveness__item-title">Снятие мерок</div>
          <div class="responsiveness__item-description">Снимаете мерки
            самостоятельно или же
            приезжаете к нам. </div>
        </div>
        <div class="col-xs-12 col-sm-4 responsiveness__item">
          <img src="respons3.png" alt="" class="responsiveness__item-icon">
          <div class="responsiveness__item-title">Погружаемся в детали</div>
          <div class="responsiveness__item-description">Изучаем ваш цветотип
            и особенности
            вашей фигуры.</div>
        </div>
        <div class="col-xs-12 col-sm-4 responsiveness__item">
          <img src="respons4.png" alt="" class="responsiveness__item-icon">
          <div class="responsiveness__item-title">Подбираем ткань</div>
          <div class="responsiveness__item-description">Выбираем цвет,
            материал ткани
            и фурнитуры. </div>
        </div>
        <div class="col-xs-12 col-sm-4 responsiveness__item">
          <img src="respons5.png" alt="" class="responsiveness__item-icon">
          <div class="responsiveness__item-title">Выкройка и пошив</div>
          <div class="responsiveness__item-description">Делаем выкройки
            по вашим меркам
            и шьем изделие. </div>
        </div>
        <div class="col-xs-12 col-sm-4 responsiveness__item">
          <img src="respons6.png" alt="" class="responsiveness__item-icon">
          <div class="responsiveness__item-title">Упаковка и отправка</div>
          <div class="responsiveness__item-description">Упаковываем в
            подарочную коробку
            и отправляем Вам.</div>
        </div>
      </div>
    </div>
  </div>
</div>

