<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ателье одинаковой одежды для мам и дочек</title>
  </head>
  <body>

  {{> components/main-header/main-header }}
  <div id="fullpage">
    {{> components/homepage/homepage }}
    {{> components/exclusive/exclusive }}
    {{> components/uniqueness/uniqueness }}
    {{> components/responsiveness/responsiveness }}
    {{> components/packaging/packaging }}
    {{> components/delivery/delivery }}
    {{> components/contacts/contacts }}
  </div>
  {{> components/scroll-up/scroll-up }}
  {{> components/thanks/thanks }}

  </body>
</html>
