<nav class="main-header__nav">
    <a href="#home" class="main-header__nav-link">Главная</a>
    <a href="#exlusive" class="main-header__nav-link">Эксклюзив</a>
    <a href="#uniqueness" class="main-header__nav-link">Уникальность</a>
    <a href="#responsiveness" class="main-header__nav-link">Оперативность</a>
    <a href="#packaging" class="main-header__nav-link">Упаковка</a>
    <a href="#delivery" class="main-header__nav-link">Доставка</a>
    <a href="#contacts" class="main-header__nav-link">Контакты</a>
</nav>

