<nav class="main-header__nav" id="menu">
    <a href="#home-page" data-id="home" data-menuanchor="home-page" class="main-header__nav-link">Главная</a>
    <a href="#exlusive-page" data-id="exclusive" data-menuanchor="exlusive-page" class="main-header__nav-link">Эксклюзив</a>
    <a href="#uniqueness-page" data-id="uniqueness" data-menuanchor="uniqueness-page" class="main-header__nav-link">Уникальность</a>
    <a href="#responsiveness-page" data-id="responsiveness" data-menuanchor="responsiveness-page" class="main-header__nav-link">Оперативность</a>
    <a href="#packaging-page" data-id="packaging" data-menuanchor="packaging-page" class="main-header__nav-link">Упаковка</a>
    <a href="#delivery-page" data-id="delivery" data-menuanchor="delivery-page" class="main-header__nav-link">Доставка</a>
    <a href="#contacts-page" data-id="contacts" data-menuanchor="contacts-page" class="main-header__nav-link">Контакты</a>
</nav>

