<div class="section page contacts" id="contacts">
  <div class="container page__container">
    <div class="row content">
      <div class="col-xs-12 col-md-6 content__text">
        <div class="content__title contacts__title">Изготовим по вашим эскизам или эскизам других дизайнеров! </div>
        <div class="content__description contacts__description">Просто оставьте нам фотографию или эскиз изделия
          и мы перезвоним вам и скажем примерную цену и срок изготовления.</div>

        <form action="" class="contacts-form" id="contact-form">
          <div class="contacts-form__field-wrap">
            <input type="text" name="name" class="contacts-form__field" placeholder="Ваше имя" autocomplete="off">
          </div>
          <div class="contacts-form__field-wrap">
            <input type="tel" name="phone" class="contacts-form__field" placeholder="Ваш телефон" autocomplete="off">
          </div>
          <button type="submit" class="button content__button contacts-form__button">Оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</div>
