.contacts {
  min-height: 100vh;
  display: flex;

  &:after {
    background-image: url(contacts_bg.jpg);

    @media(max-width: 992px) {
      background-image: linear-gradient(to top, rgba(#fff, 0.7), rgba(#fff, 0.7)),
      url(contacts_bg.jpg);
    }
  }

  &__opacity {
    display: flex;

    @media(max-width: 992px) {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(#fff, 0.7);
      z-index: 2;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    max-width: 185px;

    &__field {
      width: 100%;
      height: 30px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 15px;
      padding: 10px 5px;
      font-size: 14px;
    }

    &__button {
      margin-top: 20px;
    }
  }
}
