<div class="main-header">
  <div class="container main-header__container">
    <a href="#home" class="main-header__logo">
        <img src="logo.png" alt="" class="main-header__logo-icon">
      <div class="main-header__logo-description"><span class="pink">Friends</span> Family</div>
    </a>
      {{> ../nav/nav }}
    <div class="main-header__menu-toggle">
      {{> ../menu-toggle/menu-toggle }}
    </div>
  </div>
</div>
