.main-header {
  padding-top: 36px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 5;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    text-decoration: none;
    color: #333;

    &:hover {
      opacity: 1;
    }

    &-icon {
      padding-right: 15px;
    }

    &-description {
      font-weight: 700;
      font-size: 24px;
      padding-top: 1px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-top: -3px;
    padding-right: 55px;

    @media(max-width: 992px) {
      transform: translateX(100%);
      padding-left: 50px;
      flex-direction: column;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      padding-top: 100px;
      align-items: flex-start;
      background-color: pink;
      max-width: 275px;
      opacity: 0.8;
      transition: 0.3s;
      z-index: 4;
    }

    @media(max-width: 375px) {
      max-width: 250px;
    }

    &-link {
      padding: 5px 10px;
      font-family: "ProximaNova", sans-serif;
      text-transform: uppercase;
      color: #333;
      font-size: 11px;
      font-weight: 700;

      @media(max-width: 992px) {
        font-size: 16px;
        padding: 20px;
      }


      &:hover,
      &:active {
        color: #ff0a6a;
      }
    }

    &.is-open {
      transform: translateX(0);
    }
  }

  &__menu-toggle {
    display: none;

    @media(max-width: 992px) {
      display: block;
    }
  }
}
