<div class="section page page_left exclusive" id="exclusive">
  <div class="container page__container">
    <div class="row content">
      <div class="col-xs-12 col-md-offset-6 content__text content__text_right">
        <div class="content__subtitle exclusive__subtitle">Только для Вас и Вашей дочки!</div>
        <h1 class="content__title exclusive__title">Мы создаем комплекты<br>в единственном экземпляре</h1>
        <div class="content__description content__description_right exclusive__description">
          <p>Хотите выделяться из толпы?</p>
          <p>Оставьте свои контакты и мы с вами свяжемся для обсуждения заказа.</p>
        </div>
        <a href="#contacts-page" data-id="contacts" data-menuanchor="contacts-page" class="button content__button content__button_right">Оставить контакты</a>
      </div>
    </div>
  </div>
</div>
